{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "airbnb",
    "prettier"
  ],
  "env": {
    "node": true,
  },
  "rules": {
    "arrow-parens": "off",
    "consistent-return": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": [
      "error",
      {
        trailingComma: 'es5',
        singleQuote: true,
      }
    ]
  },
  "plugins": [
    "babel",
    "prettier"
  ]
}
